<div class="product-filter">
    <div class="heading">
        <h3>Categories</h3>
    </div>
    <div>
        <ul>
            <li role="button" 
                *ngFor="let category of categoryList; index as i"
                (click)="onCategoryButtonClick(category.id, i)">
                <button class="btn btn-link" type="button"
                    [ngClass]="{'active': i===selectedCategoryIndex}">
                    {{category.categoryName}}
                </button>
            </li>
        </ul>
    </div>
</div>
<div class="produc-list"></div>