@import "src/styles/imports";

.product-filter {
  position: fixed;
  background: $secondary-bg;
  height: 100vh;
  width: 250px;
  overflow: auto;

  .heading {
    padding: 1rem 3rem;
    background: $color-info;
    border-top: 0.2rem solid $secondary-bg;
    color: $color-white;
  }

  ul {
    .active {
      font-weight: bold;
    }

    li {
      background: linear-gradient(to top, $grey-shade-1 0%, $grey-shade-2 30%, $grey-shade-3 100%);
      padding: 1rem 3rem;
      list-style: none;
      cursor: pointer;
    }
  }

  .btn-link {
    font-size: 1.4rem;
    color: $primary-text;
    text-transform: capitalize;
  }
}
