<nav  class="navbar navbar-expand-lg navbar-light secondary-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="{{ contactInfo.phone.icon }}" aria-hidden="true"> {{ contactService.phone }}</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link email" href="#">
                    <i class="{{ contactInfo.email.icon }}" aria-hidden="true"> {{ contactInfo.email.text }}</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/track-order">
                  <i class="fa-truck" aria-hidden="true"> Track Order</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link cart" routerLinkActive="active" routerLink="/view-cart" >
                    <span *ngIf="cartItemCount">{{ cartItemCount }}</span>
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="www.facebook.com" >
                    <i class="fa-facebook" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="www.instagram.com">
                    <i class="fa-instagram" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
