<nav>

    <div class="secondary-nav">
      <a class="nav-link" href="#">
        <i class="fa fa-phone" aria-hidden="true"> {{ phone }}</i>
    </a>

    <a class="nav-link email" href="#">
      <i class="fa fa-envelope" aria-hidden="true"> {{ email }}</i>
    </a>

    <a class="nav-link" routerLink="/track-order">
      <i class="fa-truck" aria-hidden="true">  Track Order</i>
    </a>


    <a class="nav-link cart" routerLinkActive="active" routerLink="/view-cart" >
      <span *ngIf="cartItemCount">{{ cartItemCount }}</span>
      <i class="fa fa-shopping-cart" aria-hidden="true"> Cart</i>
    </a>


  </div>
</nav>
