@import "src/styles/imports";
.secondary-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  background-color: rgb(192, 189, 189);
  font-size: 1.4rem;
  padding-right: 5rem;
  justify-content: flex-end;

  .nav-link {
    color: black;
    margin: 0 1rem;
    padding: 0rem 3rem;
  }

  .cart {
    position: relative;
    span {
      background: $color-notify;
      height: 1.6rem;
      width: 1.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 1.2rem;
      font-weight: bold;
      color: $color-white;
      position: absolute;
      left: 1.4rem;
      top: 0.4rem;
    }
  }
}
.active {
  color: red !important;
}
