<nav class="navbar navbar-expand navbar-light primary-header" [ngClass]="{'squeeze': squeeze}">

    <a class="brand-logo" href="/">
      <img src="../../../assets/biobrix_circle.png"/>
    </a>

    <div class="name_div">
      <h1 class="company_name">BIOBRIX HEALTHCARE</h1>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                   routerLink="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/about">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle products_btn" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="cursor: pointer;"
                   [ngClass]="{'active': isProductRoute()}">
                    Products
                </a>
                <div class="dropdown-menu animated-menu" aria-labelledby="navbarDropdown">
                    <div class="category">
                        <a class="category-item"
                            [routerLink]="['/products', category.id]"
                            *ngFor="let category of categoryList">
                            <span>{{ category.categoryName }}</span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/trade-enquiry" routerLinkActive="active">Trade Enquiry</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/doctors" routerLinkActive="active">Doctors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact</a>
            </li>
        </ul>
    </div>

  <app-search-input paramKeyword="search" placeholder="Search products" class="search"></app-search-input>

</nav>
