@import "src/styles/imports";

.primary-header {
  font-size: 1.6rem;
  //color: $color-white;
  background-color: white;
  .navbar-brand {
    font-size: 3rem;
    color: $primary-text;
  }

  .nav-item {
    padding: 0 1.5rem;
    .nav-link {
      color: $primary-text;
    }
  }

  .category {
    display: flex;
    list-style: none;
    flex-direction: column;

    &-item {
      padding: 1rem;
      min-width: 130px;
      max-width: 150px;
      text-align: center;
      text-transform: capitalize;
      @include truncate;
    }

    span {
      font-size: 16px;
    }

    :not(:last-child) {
      border-right: 0.1rem solid $secondary-border;
    }
  }
}

.brand-logo {
  position: relative;
  left: 20%;
}
