.sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(49, 49, 49);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 6rem;

  &__a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2rem;
    color: #c5c5c5;
    display: block;
    transition: 0.3s;

    &:hover {
      color: rgb(255, 255, 255);
    }

  }

}

.products__a {
  margin-left: 2rem;

}

.closebtn {
  position: absolute;
  top: 0;
  right: 2.5rem;
  font-size: 3.6rem;
  margin-left: 5rem;
}

.drawer_header {
  display: flex;
  padding-left: 1rem;
  background-color: white;
  align-items: center;
  &__btn {
    font-size:2.5rem;
    cursor:pointer;
  }
  .brand-logo {
    img{
      height: 4rem;
    }
    margin-left: 1rem;
    margin-bottom: .2rem;
  }

}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
