<!-- <div class="sidenav"  [ngStyle]="{'width': isOpen? '28rem' : '0'}"  > -->
<div class="sidenav"  [ngClass]="{'slide_open':isOpen}"  >
  <a class="sidenav__a closebtn" (click)="isOpen=false;">&times;</a>
  <a class="sidenav__a" (click)="itemSelected('')">Home</a>
  <a class="sidenav__a" (click)="itemSelected('about')">About</a>
  <a class="sidenav__a" >Products ▼</a>
  <a class="sidenav__a products__a" (click)="onCategorySelected(category.id)" *ngFor="let category of categoryList"> {{ category.categoryName }}</a>
  <!-- <a class="sidenav__a products__a" [routerLink]="['/products', category.id]" *ngFor="let category of categoryList"> {{ category.categoryName }}</a> -->
  <a class="sidenav__a" (click)="itemSelected('trade-enquiry')">Trade Enquiry</a>
  <a class="sidenav__a"  (click)="itemSelected('contact-us')">Contact</a>
  <span class="flex-fill"></span>
  <app-secondary-header (click)="isOpen=false;"></app-secondary-header>
</div>
<div class="drawer_header" >
  <span class="drawer_header__btn" (click)="isOpen=true;" >&#9776;</span>
  <a class="brand-logo"  routerLink="">
    <img src="../../../assets/BIOBRIX_LOGO.svg"/>
  </a>
  <span class="flex-fill"></span>
  <app-search-input paramKeyword="search" placeholder="Search products" class="search"></app-search-input>

</div>
