@import "src/styles/imports";
$header-background : rgb(162, 192, 247);
.product_detail {

  animation: moveInBottom .5s ease-out  .3s;
  animation-fill-mode: backwards;

  &__header {
    padding-left: 12rem;
    background-color:$header-background;
    width: 100%;
    height: 6rem;
    text-align: center;
    position: relative;

  }

  &__heading {

    margin: 0;
    position: absolute;
    top: 50%;
    font-size: 2rem;
    letter-spacing: .2rem;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);


  }

  &__back {

    margin: 0;
    position: absolute;
    top: 50%;
    left: 3%;
    -ms-transform: translateY(-50%) scale(2.5);
    transform: translateY(-50%) scale(2.5);
    font-size: 1rem;

    padding-left: .30rem;
    padding-right: .30rem;

    cursor: pointer;
    color: red;
    background-color: white;
    box-shadow: 0 .1rem 2rem rgba($color: black, $alpha: .4);
    border-radius: 50%;

    transition: all .5s;

    &:hover{
      transform: translateY(-50%) scale(2.7);
    }

  }

  &__main {
    &-container{
      width: 75%;
      position: relative;
      padding-top: 5rem;
    }

    &-section {
      width: 100%;
      height: 500px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 2rem;
    }

    &-image {
      width: 100%;
      height: 600px;
      text-align: center;
      margin-left: 8rem;
      padding: .5rem;
      border: 1px solid #ccc;
      // background-color: $header-background ;
    }

    &-price {
      font-size: 2em;
      color:$secondary-website-color;
      text-align: center;
      padding: 2rem;
    }

    &-name{
      border-bottom: 1px solid #ccc;
      padding-bottom: 2rem;
    }

    &-product_meta{

    }

    &-out {
      color: red;
      margin: 3rem 0rem;
    }

    &-quantity {
      height: 5rem;
      width: 20%;
      text-align: center;
      font-size:2rem;
      margin-top: 5rem;

    }

    &-tabs > input, &-tabs section > div {
      display: none;
    }

    &-tabs {
      width: 100%;
      max-width: 70rem;
      margin: 2rem 10rem;

      &-list {
        list-style-type: none;
        list-style: none;
        margin: 0;
        padding: 0;

        // & li:not(:last-child) label {
        //   border-right-width:0 ;
        // }
      }

      & >input , & section > div {
        display: none;
      }

      &-tab1:checked ~ &-section .description,
      &-tab2:checked ~ &-section .reviews,
      &-tab3:checked ~ &-section .ingredients {
        display: block;
      }

      &-tab1:checked ~ &-nav .tab1 label,
      &-tab2:checked ~ &-nav .tab2 label,
      &-tab3:checked ~ &-nav .tab3 label {
        background-color: #fff;
        color: #111;
        position: relative;
        font-weight: bold;

        &:after{
          content: "";
          display: block;
          position: absolute;
          height: 2px;
          width: 100%;
          background-color: #fff;
          left: 0;
          bottom: -1px;

        }
      }

      &-label {
        float: left;
        margin: 0 !important;
        padding: 1.5rem 2.5rem;
        border: 1px solid #ddd;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom: 0;
        background-color:  rgb(226, 225, 225);
        color: #444;
        cursor: pointer;
        transition: all .1s;
        &:hover {
          background-color: #ddd;
        }

        &:active {
          background-color: white;
          transform: scale(1.05);
        }
      }

      &-section {
        clear: both;
        padding: 0;
        & div {
          padding: 2rem;
          width: 100%;
          border-top: 1px solid #ddd;
          background-color: #fff;
          line-height: 1.5em;
          letter-spacing: 0.5px;
          color: #444;
        }
      }
    }

  }

  &__rating {

    display: flex;
    position: relative;
    transform: rotateY(180deg) translateY(-50%);

    &-label {
      display: block;
      cursor: pointer;
      width: 30px;
      padding-left: 10px;
      color: pink;

      &:hover {
        color: palevioletred;
      }

      &:before{
        content: '\f005';
        font-family: 'FontAwesome';
        font-weight: 300;
        position: absolute;
        top: 0;
        display: block;
        font-size: 30px;
        color: pink;

      }

      &:after {
        content: '\f005';
        font-family: 'FontAwesome';
        font-weight: 300;
        font-size: 50px;
        position: absolute;
        font-size: 30px;
        top: 0;
        color: palevioletred;
        opacity: 0;
        transition: .5s;
        text-shadow: 0 2px 5px rgba(0,0,0,.5);
      }

    }

    &-input {
      display: none;
    }

    &-label:hover:after,
    &-label:hover ~ label:after,
    &-input:checked ~ label:after
    {
      transform: skewY(12deg);
      opacity: 1;
    }

  }

}


