@import "src/styles/imports";
$header-background : rgba(223, 41, 71, 0.8);
.product_detail {

  animation: moveInBottom .5s ease-out  .3s;
  animation-fill-mode: backwards;

  &__main {
    &-container{
      width: 95%;
      position: relative;
      padding-top: 5rem;
    }

    &-section {
      width: 100%;
      height: 500px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 2rem;
    }

    &-image {
      width: 100%;
      height: 50vw;
      padding: .5rem;
      border: 1px solid #ccc;
      min-height: 35rem;
      // background-color: $header-background ;
    }

    &-price {
      @include flex(row);
      @include flex-alignment(flex-start, center);
      font-size: 2em;
      color:$secondary-website-color;
      text-align: center;
      padding: 2rem;
    }

    &-name{
      border-bottom: 1px solid #ccc;
      padding-bottom: 2rem;
      font-size: 3rem;
      font-weight:800;

    }

    &-product_meta{

    }

    &-out {
      color: red;
      margin: 3rem 0rem;
    }

    &-quantity {
      @include flex(row);
      @include flex-alignment(flex-start, center);
      margin-top: 5rem;

      &-form {
        @include flex(row);
        @include flex-alignment(flex-start, center);
      }

      .count-input {
        @include flex(row);
        @include flex-alignment(flex-start, center);
        width: 30%;
        text-align: center;
        font-size:2rem;
        margin-right: 2rem;
      }

      .added_to_cart {
        @include flex(row);
        @include flex-alignment(flex-start, center);
        text-align: center;
        font-size:2rem;
        margin-right: 2rem;
      }

      .primary-button {
        margin-top: 1rem;
      }

    }

    &-tabs > input, &-tabs section > div {
      display: none;
    }

    &-tabs {
      width: 100%;
      max-width: 70rem;
      margin: 2rem 10rem;

      &-list {
        list-style-type: none;
        list-style: none;
        margin: 0;
        padding: 0;

        // & li:not(:last-child) label {
        //   border-right-width:0 ;
        // }
      }

      &-section {

        clear: both;
        & > div {
          padding: 2rem;
          width: 100%;
          //border-top: 1px solid #ddd;
          background-color: transparent;
          line-height: 1.5em;
          letter-spacing: 0.5px;
          color: #444;
        }
        &-heading {
          color: red;
          margin-bottom: 2rem;
        }

      }
    }

  }

  &__rating {
    &-stars {
    display: flex;
    transform: rotateY(180deg)  translateX(40%);
    margin: 2rem 0;
    }

    &-label {
      display: block;
      cursor: pointer;
      width: 30px;
      padding-left: 10px;
      color: pink;

      &:hover {
        color: palevioletred;
      }

      &:before{
        content: '\f005';
        font-family: 'FontAwesome';
        font-weight: 300;
        position: absolute;
        top: 0;
        display: block;
        font-size: 30px;
        color: pink;

      }

      &:after {
        content: '\f005';
        font-family: 'FontAwesome';
        font-weight: 300;
        position: absolute;
        font-size: 30px;
        top: 0;
        color: palevioletred;
        opacity: 0;
        transition: .5s;
        text-shadow: 0 2px 5px rgba(0,0,0,.5);
      }

    }

    &-input {
      display: none;
    }

    &-label:hover:after,
    &-label:hover ~ label:after,
    &-input:checked ~ label:after
    {
      transform: skewY(12deg);
      opacity: 1;
    }

  }

}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched  {
  border: 1px solid red;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.03) !important;
  font-weight: 600;
}


/** Product Details */
.card-footer {
  text-align: center;
  text-transform: capitalize;
  background-color: $color-white;
  margin-top: 1rem;
  margin-bottom: 1rem;

  .product-name {
    color: #00889f;
    margin-top: 1rem;
    font-size: 1.4rem;
  }

  .product-price {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 2rem;
  }

  .add-to-cart {
    background-image: linear-gradient(-45deg, #075ac9, #35c7df);
    box-shadow: 0 0.4rem 1rem -1rem rgba(0, 0, 0, 0.2), 0 0.4rem 0.6rem 0.1rem rgba(0, 0, 0, 0.05),
    0 0.1rem 0.2rem 0.1rem transparent inset, 0 1.8rem 3.2rem -0.2rem rgba(255, 255, 255, 0.1) inset;
    padding: 1.2rem 2.5rem;
    border-radius: 5rem;
    color: $color-white;
    margin-top: 1rem;
    border: 0;
    font-size: 1.4rem;

    .fa {
      font-size: 1.6rem;
    }
  }
}

.similar-products-heading {
  padding-left: 80px;
}

.similar-products {
  background-color: #a5a0f081;
  &__item {
    padding: 0 50px;
    @include flex(row);
    @include flex-alignment(space-around, center);
  }

  .carousel-control-prev, .carousel-control-next {
    filter: brightness(0);
  }
}

.tag-list {
  color: #007bff;

  &:hover {
    text-decoration: underline;
    color: #0056b3;
  }
}
