<div class="product_detail main-container">

  <section class="product_detail__header">
    <!-- <p class="product_detail__back">&#8592;</p> -->
    <div class="product_detail__header-back">
      <i class="fa fa-arrow-left product_detail__header-back-icon"></i>
      <div class="product_detail__header-back-cover"></div>
    </div>

    <h1 class="product_detail__header-heading">{{ product.product_name | uppercase}}</h1>

  </section>

  <section class="product_detail__main">

    <div class="product_detail__main-container">
      <div class="container">
        <div class="row">
          <div class="col-5">

            <img class="product_detail__main-image" [src]="product.images[0]">

          </div>
          <div class="col-1"></div>

          <div class="col-6">

            <div class="product_detail__main-section">

              <h1 class="product_detail__main-name">{{ product.product_name | uppercase}}</h1>

              <div class="row product_detail__main-price">
                <i class="fa fa-inr"></i>
                <p class="">{{ product.price+ '.00' }}</p>

                </div>

            <div class="product_detail__main-product_meta">
              <hr>Category : <a href="#" rel="tag"> {{ product.category }}</a> <hr>
              Tags : <a href="#" rel="tag"> {{ product.category }}</a>,

              <a *ngFor="let tag of product.tags" href="#" rel="tag"> {{ tag }} </a>,

            </div>


            <div *ngIf="product.in_stock">

              <input type="number"
              class="product_detail__main-quantity"
              >

              <button *ngIf="!product.addedToCart" class="btn primary-button "> Add to cart</button>

              <button *ngIf="product.addedToCart" class="btn primary-button"> Go to cart</button>

            </div>
            <p *ngIf="!product.in_stock" class="product_detail__main-out">Out of stock</p>

          </div>
        </div>
      </div>

    </div>

</div>

<div class="product_detail__main-tabs">

    <input  type="radio" id="tab1" class="product_detail__main-tabs-tab1" name="pct" checked="checked">
    <input  type="radio" id="tab2" class="product_detail__main-tabs-tab2" name="pct" >
    <input  type="radio" id="tab3" class="product_detail__main-tabs-tab3" name="pct" >

    <nav class="product_detail__main-tabs-nav">
      <ul class="product_detail__main-tabs-list">
        <li class="tab1">
          <label class="product_detail__main-tabs-label" for="tab1">Description</label>
        </li>
        <li class="tab2">
          <label class="product_detail__main-tabs-label" for="tab2">Reviews</label>
        </li>
        <li class="tab3">
          <label class="product_detail__main-tabs-label" for="tab3">Ingredients</label>
        </li>
      </ul>
    </nav
    >
    <section class="product_detail__main-tabs-section">

      <div class="description">
        <h1 class="product_detail__main-tabs-section-heading">PRODUCT DESCRIPTION</h1>
        <h3> {{ product.description }} </h3>
      </div>

      <div class="reviews">
        <h1 class="product_detail__main-tabs-section-heading">REVIEWS</h1>

        <div *ngIf="product.reviews.length!=0; else NoReview">
          <div *ngFor="let review of product.reviews">
            <app-riview [review]="review" ></app-riview>
          </div>
        </div>

        <ng-template #NoReview>
          <div>
            <h3 class="mr-5">No Rieviews available</h3>
            <p>Be the first to review this product</p>
          </div>
        </ng-template>

          <form (ngSubmit)="onSubmit()" #reviewForm="ngForm">

            <div class="form-group product_detail__rating">

              <h4 class="product_detail__rating-your">Your Rating:</h4>

              <div class="product_detail__rating-stars">

              <input class="product_detail__rating-input" type="radio" id="star1" name="rating" value="5" ngModel required>
              <label class="product_detail__rating-label" for="star1"></label>

              <input class="product_detail__rating-input" type="radio" id="star2" name="rating" value="4" ngModel required>
              <label class="product_detail__rating-label" for="star2"></label>

              <input class="product_detail__rating-input" type="radio" id="star3" name="rating" value="3" ngModel required>
              <label class="product_detail__rating-label" for="star3"></label>

              <input class="product_detail__rating-input" type="radio" id="star4" name="rating" value="2" ngModel required>
              <label class="product_detail__rating-label" for="star4"></label>

              <input class="product_detail__rating-input" type="radio" id="star5" name="rating" value="1" ngModel required>
              <label class="product_detail__rating-label" for="star5"></label>

              </div>


            </div>

            <div class="form-group">
              <label for="username">Your Name: </label>
              <input
               type="text"
               id="username"
               class="form-control"
               name="username"
               required
               ngModel
               #name="ngModel"
               >
              <samp *ngIf="name.invalid && name.touched" class="help-block">Please enter your name!</samp>
            </div>

            <div class="form-group">
              <h3 for="email">Email: </h3>
              <input
                type="email"
                id="email"
                class="form-control"
                ngModel
                name="email"
                required
                email
                #email="ngModel"
                >
              <samp *ngIf="email.invalid && email.touched" class="help-block">Please enter a valid email!</samp>
            </div>

            <div class="form-group">
              <h3 for="review">Your Review: </h3>
              <textarea
               type="text"
               id="review"
               class="form-control"
               name="review"
               required
               ngModel
               #review="ngModel"
               ></textarea>
               <samp *ngIf="review.invalid && review.touched" class="help-block">Please give your reivew!</samp>
            </div>

            <button class="btn btn-primary" type="submit" [disabled]="reviewForm.invalid">
              Submit Review
            </button>

          </form>

        </div>

      <div class="ingredients">
        <h1 class="product_detail__main-tabs-section-heading">INGREDIENTS</h1>
        <h3 *ngFor="let ingredient of product.ingredients;"> {{ ingredient }}</h3>
      </div>

    </section>

</div>


