.heading{
  font-size: 4rem;
}

.button {
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;

  &__refresh {
    border-radius: 50%;
    background-color: DodgerBlue;
    &:hover{
      background-color: darken($color: DodgerBlue, $amount: 20);
    }
  }
  &__search {
    background-color: grey;
    &:hover{
      background-color: darken($color: grey, $amount: 20);
    }
  }
}

.search-input{
  padding: 10px 8px;
}
