.admin-body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  overflow: auto;

  &__a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;

    &.active {
      background-color: #4CAF50;
      color: white;
    }

    &:hover:not(.active) {
      background-color: #555;
      color: white;
    }
  }


}

.content {
  margin-left: 200px;
  padding: 1px 16px;
  min-height: 50rem;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;

    &__a {
      float: left;
    }

  }

  .content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar__a {
    text-align: center;
    float: none;
  }
}

.bar-heading {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
