<div class="main-container" style="background-image: url('../../../assets/category_background.jpg');  background-size: cover;">

  <div id="pagerProducts" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li *ngFor="let p of homepage?.pagerProducts; let i = index" data-target="#pagerProducts" attr.data-slide-to="{{i}}" [ngClass]="{'active': i === 0}" ></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item" [ngClass]="{'active': i === 0}" *ngFor="let page of homepage?.pagerProducts; let i = index">
        <img class="d-block w-100 pager-image" src="{{page.image_url}}" alt="First slide" (click)="productDetail(page.product_id)" style="cursor: pointer" >
      </div>
    </div>

    <a class="carousel-control-prev" href="#pagerProducts" role="button" data-slide="prev">
      <i class="fa-arrow-circle-left carousel-control-bg"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#pagerProducts" role="button" data-slide="next">
      <i class="fa-arrow-circle-right carousel-control-bg"></i>
      <span class="sr-only">Next</span>
    </a>

  </div>

  <section class="product-type-section animated fadeIn">
    <h2 class="heading-secondary">
      ALL TYPES OF BODY CARE PRODUCTS
    </h2>
    <div class="product-type">
      <div class="product-type__item dry-skin">
        <div class="product-type__item--item-hover">
          DRY SKIN
        </div>
      </div>
      <div class="product-type__item oily-skin">
        <div class="product-type__item--item-hover">
          OILY SKIN
        </div>
      </div>
      <div class="product-type__item hair-care">
        <div class="product-type__item--item-hover">
          HAIR CARE
        </div>
      </div>
      <div class="product-type__item sun-protection">
        <div class="product-type__item--item-hover">
          SUN PROTECTION
        </div>
      </div>
    </div>
  </section>

  <section class="recent-products">
    <div class="section-header">
      <div class="section-header__heading">RECENT PRODUCTS</div>
      <div class="section-header__underline"></div>
    </div>
    <div id="recentProducts" class="carousel slide" data-ride="carousel" data-interval="0">
      <div class="carousel-inner" style="padding-top: 1rem;">
        <div class="carousel-item" [ngClass]="{'active': i === 0}" *ngFor="let recentProduct of recentProducts; let i = index">
          <div class="recent-products__item w-100">
              <div *ngFor="let product of recentProduct">
                <app-product-card [product]="product"></app-product-card>
              </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#recentProducts" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#recentProducts" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>

  <section class="testimonies fadeIn animated">
    <div class="section-header">
      <div class="section-header__heading">Testimonials</div>
      <div class="section-header__underline"></div>
    </div>

    <div id="testimonies" class="carousel slide" data-ride="carousel" data-interval="0">
      <div class="carousel-inner">

        <div class="carousel-item" [ngClass]="{'active': i === 0}" *ngFor="let testimony of homepage?.testimonies; let i = index">

          <div class="testimonies__item">

            <div class="row">
              <div class="col-6">
                <figure class="testimonies__item-shape">
                  <img class="testimonies__item-image" src="{{testimony.image}}" alt="First slide" width="50" height="50">
                </figure>

              </div>
              <div class="col-6">
                <div class="testimonies__item-text">
                  <h3 class="heading-tertiary u-margin-up-small">{{testimony.customer_name}}</h3>
                  <p>
                    {{testimony.testimony}}
                  </p>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

      <a class="carousel-control-prev" href="#testimonies" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#testimonies" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </section>
</div>
