<!-- <div class="main-container" style="background-image: url('../../../assets/category_background.jpg');  background-size: cover;"> -->
<div class="main-container" >

  <section class="cover-section">

    <div class="cover-section__name">
      <span>BIOBRIX</span>
    </div>

    <div class="cover-section__sub-name">
      <span>HEALTHCARE</span>
    </div>

    <div class="cover-section__subtitle">
      <span class="cover-section__subtitle-span">Dermatology &</span>
      <span class="cover-section__subtitle-span">Cosmetology</span>
      <span class="cover-section__subtitle-span">Skincare Products</span>
    </div>

  </section>


  <section class="recent-products">
    <div class="section-header">

      <svg class="svg_line">
        <path class="svg_line__path" d="M 0 0 L 376.5347290039063 0">
        </path>
      </svg>

      <i class="fa-star icon-star"aria-hidden="true"></i>

      <div class="section-header__heading">Our Products</div>

      <i class="fa-star icon-star"aria-hidden="true"></i>

      <svg class="svg_line">
        <path class="svg_line__path" d="M 0 0 L 376.5347290039063 0">
        </path>
      </svg>

    </div>

    <div id="recentProducts" class="carousel slide" data-ride="carousel" data-interval="0">
      <div class="carousel-inner" style="padding: 1rem 8rem;">
        <div class="carousel-item" [ngClass]="{'active': i === 0}" *ngFor="let recentProduct of recentProducts; let i = index">
          <div class="recent-products__item w-100">
              <div *ngFor="let product of recentProduct">
                <app-product-card [product]="product"></app-product-card>
              </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#recentProducts" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#recentProducts" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>

  <section class="product-type-section animated fadeIn">
    <div class="section-header">

      <svg class="svg_line">
        <path class="svg_line__path" d="M 0 0 L 376.5347290039063 0">
        </path>
      </svg>

      <i class="fa-star icon-star"aria-hidden="true"></i>

      <div class="section-header__heading">Product Category</div>

      <i class="fa-star icon-star"aria-hidden="true"></i>

      <svg class="svg_line">
        <path class="svg_line__path" d="M 0 0 L 376.5347290039063 0">
        </path>
      </svg>

    </div>

    <div class="product-type">
      <div class="product-type__item">
        <img class="product-type__item-img" src="../../../assets/images/dry_skin.png"/>
        <span class="product-type__item-text">Dry Skin</span>
      </div>
      <div class="product-type__item">
        <img class="product-type__item-img" src="../../../assets/images/oily_skin.png"/>
        <span class="product-type__item-text">Oily Skin</span>
      </div>
      <div class="product-type__item">
        <img class="product-type__item-img" src="../../../assets/images/hair_care.png"/>
        <span class="product-type__item-text">Hair Care</span>
      </div>
      <div class="product-type__item">
        <img class="product-type__item-img" src="../../../assets/images/sun_screen.png"/>
        <span class="product-type__item-text">Sun screens</span>
      </div>
    </div>
  </section>


  <section class="testimonies fadeIn animated">

    <div class="section-header">

      <svg class="svg_line">
        <path class="svg_line__path" d="M 0 0 L 376.5347290039063 0">
        </path>
      </svg>

      <i class="fa-star icon-star"aria-hidden="true"></i>

      <div class="section-header__heading">Testimonials</div>

      <i class="fa-star icon-star"aria-hidden="true"></i>

      <svg class="svg_line">
        <path class="svg_line__path" d="M 0 0 L 376.5347290039063 0">
        </path>
      </svg>

    </div>

    <div class="testimonies__tray">

          <div class="testimonies__item" [ngClass]="{'active': i === 0}" *ngFor="let testimony of homepage?.testimonies; let i = index">

              <div class="testimonies__item-avatar">
                <figure class="testimonies__item-shape">
                  <img class="testimonies__item-image" src="{{testimony.image}}" alt="First slide">
                </figure>
              </div>
              <h3 class="heading-tertiary u-margin-up-small">{{testimony.customer_name}}</h3>
              <img class="testimonies__item-quote_1" src="../../../assets/images/double_quotes_start.png"/>
              <p class="testimonies__item-text">
                    {{testimony.testimony}}
              </p>
              <img class="testimonies__item-quote_2" src="../../../assets/images/double_quotes_end.png"/>
          </div>

    </div>

  </section>
</div>
