@import "src/styles/imports";
@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

.main-container{
  background-color: white;
}

.svg_line{
  height: .4rem;
  padding: 0 1rem;
  &__path{
    fill: transparent;
  stroke: $tertiary-website-color;
  stroke-width: .4rem;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
  }

}

.icon-star{
  color: $tertiary-website-color;
  font-size: 2.5rem;
  transform: skew(14deg);
}

.cover-section{
  background: url('../../../../assets/bbnew.jpg') no-repeat center center fixed;
  // background: url('../../../../assets/bbnew.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 95vh;
    &__name{
      position: absolute;
      color: $tertiary-website-color;
      left: 10vh;
      top: 24vh;
      font-size: 8vh;
      font-style: normal;
      width: fit-content;
      font-weight: normal;
      white-space: nowrap;
      letter-spacing: 1.2rem;
      overflow: visible;
      border-bottom: .3rem white solid;
      padding-bottom: 0;
      font-stretch: expanded;
  }
   &__sub-name{
      position: absolute;
      color: $tertiary-website-color;
      left: 10vh;
      top: 36vh;
      font-size: 6vh;
      font-style: normal;
      font-weight: normal;
      white-space: nowrap;
      width: fit-content;
      letter-spacing: .5rem;
      font-stretch: expanded;
  }

  &__subtitle{
      position: absolute;
      display: flex;
      flex-direction: column;
      color: white;
      font-size: 6vh;
      left: 10vh;
      top: 42vh;
      font-family: Arial, Helvetica, sans-serif;
      white-space: nowrap;
      margin-top: 4rem;
      &-span{
        margin-top: -1.6rem;
        padding: 0%;
      }
  }

}

.section-header {
  margin: 8rem 0;
  @include flex(row);
  @include flex-alignment(center, center);
  position: relative;
  font-size: 40px;

  &__heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin: 0 1rem;
    text-align: center;
  }

}

.heading-secondary {

  font-family: 'Baloo Tamma 2', cursive;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $primary-website-color,$color-info);
  letter-spacing: 2px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all .2s;
  padding-top: 5rem;
  @include flex(column);
  @include flex-alignment(center, center);
  text-align: center;
}

.product-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding :  5rem 0;

  &__item {
    text-align: center;
    width: 22vw;
    transition: all .2s;
    outline-offset: .5rem;
    display: inline-block;
    position: relative;
    padding: 2rem;
    min-width: 25rem;
    min-height: 20rem;
    background-image: linear-gradient(to bottom,white 70%,$tertiary-website-color 70% );

    &:hover {
      outline: .7rem solid $primary-website-color-light;
      transform: scale(1.05) translateY(-1rem);
      z-index: 100;
      cursor: pointer;
      .product-type__item--item-hover {
        visibility: visible;
        text-align: center;
        font-size: 2rem;
        background: transparentize(black,.8);

      }

    &:active{
      transform: translateY(.5rem);
    }

    }

    &--item-hover {
      @include flex(row);
      @include flex-alignment(center, center);
      height: 100%;
      visibility: hidden;
      cursor: pointer;
      color: #ffffff;
    }
    &-img{
      width: 100%;
      height: 22vw;
      min-height: 22rem;
    }
    &-text{
      font-weight: bold;
    }
  }

}

.pimg{
  background-size: cover;
  &-dry{
    background-image: url('/assets/dry_skin.png');
  }
  &-oily{
    background-image: url('/assets/oily_skin.png');
  }
  &-hair{
    background-image: url('/assets/hair_care.png');
  }
  &-sun{
    background-image: url('/assets/sun_screen.png');
  }
}

.recent-products {
  display: inline;
    &__item {

    @include flex(row);
    @include flex-alignment(space-around, center);
  }

  .carousel-control-prev,.carousel-control-next{
    filter: brightness(0);
    width: 8rem;
  }
}


.testimonies {

  padding-bottom: 10rem;

  &__tray{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__item {
    margin-top: 10rem;
    width: 30vw;
    display: flex;
    min-width: 25rem;
    padding: 0 1rem;
    flex-direction: column;
    align-items: center;
    background-color: rgba($color:white, $alpha: .6);
    border-radius: 3px;
    background-color: $tertiary-website-color;

    &-avatar {
      margin-top: -6rem;
      padding: 0;

    }

    &-shape {
      width: 15rem;
      height: 15rem;
      //Radius //align cener
      shape-outside: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      position: relative;
    }

    &-image{

      height: 100%; width:  100%; // of parent
    }

    &-text {
      font-size: 1.5rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    &-quote{
      &_1{
        align-self: flex-start;
      }
      &_2{
        align-self: flex-end;
      }
    }

  }
}

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.card {
  width: 25rem;
  margin-bottom: 2rem;
  position: relative;
}

.image {
  position: relative;
}

/** Product Details */
.card-footer {
  text-align: center;
  text-transform: capitalize;
  background-color: $color-white;
  margin-top: 1rem;
  margin-bottom: 1rem;

  .product-name {
    color: #00889f;
    margin-top: 1rem;
    font-size: 1.4rem;
  }

  .product-price {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 2rem;
  }

  .add-to-cart {
    background-image: linear-gradient(-45deg, #075ac9, #35c7df);
    box-shadow: 0 0.4rem 1rem -1rem rgba(0, 0, 0, 0.2), 0 0.4rem 0.6rem 0.1rem rgba(0, 0, 0, 0.05),
    0 0.1rem 0.2rem 0.1rem transparent inset, 0 1.8rem 3.2rem -0.2rem rgba(255, 255, 255, 0.1) inset;
    padding: 1.2rem 2.5rem;
    border-radius: 5rem;
    color: $color-white;
    margin-top: 1rem;
    border: 0;
    font-size: 1.4rem;

    .fa {
      font-size: 1.6rem;
    }
  }
}

.product-type-section {
 // background: url("../../../../assets/category_background.jpg") center;
  background-size: cover;
  padding-top: 3rem;
}


.loading-container {
  width: 100vw;
  height: 38vw;
  @include flex(row);
  @include flex-alignment(center, center);
}

.carousel-control-bg {
  font-size: 3rem;
  transform: skewX(10deg);
}

.pager-image {
  height: 35vw;
}

.carousel-control-next {
  height: 10% !important;
  margin: auto 0;
}
.carousel-control-prev {
  height: 10% !important;
  margin: auto 0;
}

@media screen and (max-width: 767px) {

  .cover-section{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: flex-start;
    padding-top: 1rem;
    padding-left: 2rem;

    &__name{
      position: unset;
      color: $tertiary-website-color;
      letter-spacing: 1.1rem;
      font-size: 3.5em;
      width: fit-content;

    }

    &__sub-name{
      position: unset;
      color: $tertiary-website-color;
      font-size: 2em;
      width: fit-content;
      letter-spacing: 1rem;
    }

    &__subtitle{
      position: unset;
      margin-top: 4rem;
      font-size: 2em;
      background-color: #66666666;
      padding: .5rem;
      border-radius: .3rem;
      &-span{
        margin-top: -.5rem;
        margin-bottom: -.5rem;
        padding: 0%;
      }
    }

  }


.section-header {
  margin: 4rem 0;
  font-size: 30px;
  &__heading {
    margin: 0 .5rem;
    }
  }

  .svg_line{
    width: 7rem;
  }

  .icon-star{
    font-size: 1.8rem;

  }

}
