@import "src/styles/imports";
@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
.section-header {
  padding-top: 30px;
  @include flex(column);
  @include flex-alignment(center, center);
  font-size: 35px;

  &__heading {
    line-height: 3.6rem;

  }

  &__underline {
    margin: 2rem;
    height: 3px;
    background-color: rgb(0, 0, 0);
    width: 10%;
    padding: 0;
    margin: 0 0 35px 0;
  }
}

.heading-secondary {

  font-family: 'Yeseva One', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $primary-website-color,$color-info);
  letter-spacing: 2px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all .2s;
  padding-top: 5rem;
  @include flex(column);
  @include flex-alignment(center, center);
  text-align: center;
}



.product-type {
  width: 100%;
  flex-wrap: wrap;
  padding :  5rem 0;
  text-align: center;
  &__item {
    width: 20vw;
    height: 15vw;
    background: transparent;
    background-size: cover;
    border-color: transparent;
    transition: all .2s;
    outline-offset: .5rem;
    display: inline-block;
    position: relative;
    margin: 2rem;
    min-width: 25rem;
    min-height: 20rem;

    &:hover {
      outline: .7rem solid $primary-website-color-light;
      transform: scale(1.05) translateY(-.5rem);

      .product-type__item--item-hover {
        visibility: visible;
        text-align: center;
        font-size: 2rem;
        background: transparentize(black,.8);

      }
    }

    &--item-hover {
      @include flex(row);
      @include flex-alignment(center, center);
      height: 100%;
      visibility: hidden;
      cursor: pointer;
      color: #ffffff;
    }
  }

}

.recent-products {
  display: inline;
  background-color: #f1adec81;
  padding-bottom: 20px;
  &__item {
    padding: 0 50px;
    @include flex(row);
    @include flex-alignment(space-around, center);
  }

  .carousel-control-prev, .carousel-control-next {
    filter: brightness(0);
  }


}





.testimonies {

  padding-bottom: 10rem;
  &__item {
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color: black, $alpha: .1);
    background-color: rgba($color:white, $alpha: .6);
    border-radius: 3px;
    padding: 6rem 6rem 6rem 9rem;
    transform: skewX(-12deg);

    &-avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-shape {
      width: 15rem;
      height: 15rem;
      float: left;
      //Radius //align cener
      shape-outside: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      transform: skewX(12deg);
      position: relative;
    }

    &-image{
      height: 100%; width:  100%; // of parent
    }

    &-text {
      transform: skewX(12deg);
      text-align: center;
      font-size: 1.5rem;
    }

  }
}

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.dry-skin {
  background-image: url("https://suttonderm.com/wp-content/uploads/10-Top-Tips-For-Dry-Skin-2-720x675.jpg");
  background-size: cover;
}

.oily-skin {
  background-image: url("https://www.lorealparisusa.com/~/media/images/lop/home/beauty-library/articles/oily-skin-care-no-nos/loreal-paris-bmag-article-10-things-you-shouldnt-do-if-you-have-oily-skin-d.jpg?thn=0");
}

.hair-care {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/biobrix-0.appspot.com/o/types_of_images%2Fhair-care.jpeg?alt=media");
}

.sun-protection {
  background-image: url("https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/publications/cosmetics/cosmeticsdesign-europe.com/article/2020/03/10/l-oreal-sun-protection-patents-cover-spf-skin-whitening-and-appearance/10791176-1-eng-GB/L-Oreal-sun-protection-patents-cover-SPF-skin-whitening-and-appearance.jpg");
}

.card {
  width: 25rem;
  margin-bottom: 2rem;
  position: relative;
}

.image {
  position: relative;
}

/** Product Details */
.card-footer {
  text-align: center;
  text-transform: capitalize;
  background-color: $color-white;
  margin-top: 1rem;
  margin-bottom: 1rem;

  .product-name {
    color: #00889f;
    margin-top: 1rem;
    font-size: 1.4rem;
  }

  .product-price {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 2rem;
  }

  .add-to-cart {
    background-image: linear-gradient(-45deg, #075ac9, #35c7df);
    box-shadow: 0 0.4rem 1rem -1rem rgba(0, 0, 0, 0.2), 0 0.4rem 0.6rem 0.1rem rgba(0, 0, 0, 0.05),
    0 0.1rem 0.2rem 0.1rem transparent inset, 0 1.8rem 3.2rem -0.2rem rgba(255, 255, 255, 0.1) inset;
    padding: 1.2rem 2.5rem;
    border-radius: 5rem;
    color: $color-white;
    margin-top: 1rem;
    border: 0;
    font-size: 1.4rem;

    .fa {
      font-size: 1.6rem;
    }
  }
}

.product-type-section {
 // background: url("../../../../assets/category_background.jpg") center;
  background-size: cover;
  padding-top: 3rem;
}


.loading-container {
  width: 100vw;
  height: 38vw;
  @include flex(row);
  @include flex-alignment(center, center);
}

.carousel-control-bg {
  font-size: 3rem;
  transform: skewX(10deg);
}

.pager-image {
  height: 35vw;
}

.carousel-control-next {
  height: 10% !important;
  margin: auto 0;
}
.carousel-control-prev {
  height: 10% !important;
  margin: auto 0;
}

@media screen and (max-width: 600px) {

  .testimonies {
    &__item {
      margin: 0 auto;
      padding: 2rem;
      transform: skewX(-5deg);

      &-shape {
        transform:skewX(5deg);
      }

      &-text {
        transform: skewX(5deg);
      }

    }
  }



}
