<app-main-container title="ORDER DETAILS">
  <div class="order-detail-container">
    <div *ngIf="newOrder" class="alert alert-success">
      Your order has been successfully placed!
    </div>

    <div *ngIf="orderDetail" class="alert alert-info">
      Your order id is - &nbsp;<span class="alert-info__id">{{orderDetail._id}}</span>
    </div>

    <div *ngIf="orderDetail?.payment_status" class="alert alert-info">
      Your transaction id is - &nbsp;<span class="alert-info__id">{{orderDetail.transaction_id}}</span>
    </div>


  </div>

  <div *ngIf="orderDetail!=undefined" [ngSwitch]="orderDetail.order_status" class="tracker">

    <h2 *ngSwitchCase="'cancelled'" class="not_placed">Order Cancelled, you money will be refunded soon.</h2>

    <div *ngSwitchCase="'created'" class="not_placed">
      <h2 > Order not placed yet,</h2> <a [routerLink]="['/view-cart/checkout']"> <h2>&nbsp;click here&nbsp;</h2></a> <h2>to place this order now.</h2>
    </div>

    <div *ngSwitchDefault>
      <step-indicator [order]="orderDetail"></step-indicator>
    </div>

  </div>


  <div class="order-detail-secondary-container">

    <div class="order-information">
      <div class="order-information__header">Your Order</div>
      <div class="order-information__content">
        <div class="order-item" *ngFor="let product of orderDetail?.products">
          <img src="{{product.image}}" style="object-fit: contain" height="80" width="80">
          <div class="name-and-price">
            <span class="name">{{product.product_name}}</span>
            <span class="price">{{product.price}}</span>
          </div>
          <div class="flex-fill"></div>
          <span class="quantity">{{product.quantity}}</span>
          <span class="total">{{product.total}}</span>
        </div>
        <div class="sub-total-item">
          <div class="flex-fill"></div>
          <span class="total-heading">Sub total</span>
          <span class="total-count">{{subtotal}}</span>
        </div>

        <div class="total-item">
          <div class="flex-fill"></div>
          <span class="total-heading">Total</span>
          <span class="total-count">{{total}}</span>
        </div>
      </div>
    </div>

    <div class="address-information">
      <div class="address-information__header">Delivery Address</div>
      <div class="address-information__container">

        <div>Ship to:  {{orderDetail?.user_name}}</div>
        <div>Address:  {{orderDetail?.address}}</div>
        <div>City: {{orderDetail?.city}}</div>
        <div>State: {{orderDetail?.state}}</div>
        <div>Zip Code: {{orderDetail?.zip_code}}</div>
      </div>
    </div>

  </div>
</app-main-container>
