@import "src/styles/imports";

.checkout-container {
  margin-top: 5rem;
  padding: 0 8rem 4rem;
  @include flex(row);
  @include flex-alignment(space-between, flex-start);

  .billing-information {
    width: calc(50% - 40px);
    border: 0.1rem solid $grey-shade-2;

    &__header {
      padding: 1.5rem;
      font-weight: 600;
      background-color: #075ac9;
      color: white;
      font-size: 16px;
    }

    &__container {
      padding: 1rem;
      font-size: 14px;

      .verify-phone {
        margin: 1rem;
      }
      .make-payment-btn {
        @include flex(row);
        @include flex-alignment(center, center);
      }

      .details-form {
        //margin: 1rem;

        .form-group.input {
            margin: 1rem;
            width: calc(50% - 2rem);
            display: inline-block;
        }

        .form-group.textarea {
          margin: 1rem;
        }

        //& > .form-group {
        //    margin: 1rem;
        //    width: calc(50% - 2rem);
        //    display: inline;
        //}
        //& input {
        //  margin: 1rem;
        //  width: calc(50% - 2rem);
        //  display: inline;
        //}
        //
        //& textarea {
        //  margin: 1rem;
        //  width: calc(100% - 2rem);
        //}
      }
    }
  }
  .table {
    border-color: #075ac9;

    thead {
      border: 0.1rem solid #075ac9;
      tr {
        background-color: #075ac9;
      }

      th {
        padding: 1.5rem;
        color: white;
        font-weight: bold;
        border-color: #075ac9;
        max-width: 13rem;
      }
    }

    tbody {
      border: 0.1rem solid $grey-shade-2;
    }

    td {
      vertical-align: middle;
      padding: 1.5rem;
      max-width: 13rem;
    }
  }

  .product {
    font-size: 1.8rem;
    &-img {
      width: 12rem;
    }

    &-name {
      color: #075ac9;
    }

    &-quantity {
      button {
        background: #dae0e5;
        height: 2.5rem;
        width: 2.5rem;
        font-size: 1.6rem;
        line-height: 1;
      }

      span {
        padding: 0 1rem;
      }
    }

    .fa-times {
      font-size: 2rem;
    }
  }
}

.cart-buttons {
  text-align: right;
  margin-top: 1.5rem;

  .checkout {
    margin-left: 1rem;
  }
}


.order-information {
  width: calc(50% - 40px);
  border: 0.1rem solid $grey-shade-2;

  &__header {
    padding: 1.5rem;
    font-weight: 600;
    background-color: #075ac9;
    color: white;
    font-size: 16px;
  }

  &__content {
    padding: 2rem;
  }

  .sub-total-item {
    @include flex(row);
    @include flex-alignment(flex-start, center);
    padding: 0.5rem;
    margin-bottom: 0.1rem;
    color: #856404;
    background-color: #fff3cd;

    .total-heading {
      margin-right: 20%;
    }

    .total-count {
      margin-right: 2rem;
    }
  }

  .total-item {
    @include flex(row);
    @include flex-alignment(flex-start, center);
    padding: 0.5rem;
    margin-bottom: 0.1rem;
    color: #0c5460;
    background-color: #d1ecf1;
    font-size: 15px;
    font-weight: 600;

    .total-heading {
      margin-right: 20%;
    }

    .total-count {
      margin-right: 2rem;
    }
  }

  .order-item {
    @include flex(row);
    @include flex-alignment(flex-start, center);
    padding: 0.5rem;
    background-color: rgba(241, 241, 241, 0.5);
    margin-bottom: 0.1rem;

    .name-and-price {
      margin-left: 1rem;
      @include flex(column);
      @include flex-alignment(space-around, flex-start);

      .name {
        font-size: 14px;
        font-weight: 600;
      }

      .price {
        font-size: 12px;
        font-weight: 500;
      }
    }

    .quantity {
      margin-right: 20%;
    }

    .total {
      margin-right: 2rem;
    }
  }
}
.lds-dual-ring {
  display: inline-block;
  width: 100%;
  min-height: 60rem;
  position: relative;

  &:after {
  content: " ";
  display: block;
  float: right;
  text-align: center;
  width: 6.4rem;
  height: 6.4rem;

  position: absolute;
  left: 46%;

  border-radius: 50%;
  border: .6rem solid $primary-website-color;
  border-color: $primary-website-color transparent $primary-website-color transparent;
  animation: lds-dual-ring 1.2s linear infinite;
  }

}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
