@import "src/styles/imports";

.cart-container {
    margin-top: 5rem;
    padding: 0 8rem 4rem;

    .table {
        border-color: #075ac9;

        thead {
            border: 0.1rem solid #075ac9;
            tr {
                background-color: #075ac9;
            }

            th {
                padding: 1.5rem;
                color: white;
                font-weight: bold;
                border-color: #075ac9;
                max-width: 13rem;
            }
        }

        tbody {
            border: 0.1rem solid $grey-shade-2;
        }

        td {
            vertical-align: middle;
            padding: 1.5rem;
            max-width: 13rem;
        }
    }

    .product {
        font-size: 1.8rem;
        &-img {
            width: 12rem;
        }

        &-name {
            color: #075ac9;
        }

        &-quantity {
            button {
                background: #dae0e5;
                height: 2.5rem;
                width: 2.5rem;
                font-size: 1.6rem;
                line-height: 1;
            }

            span {
                padding: 0 1rem;
            }
        }

        .fa-times {
            font-size: 2rem;
        }
    }
}

.cart-buttons {
    text-align: right;
    margin-top: 1.5rem;

    .checkout {
        margin-left: 1rem;
    }
}
