<div class="mr-3">

  <h1 class="heading">{{ editMode?'Update Product':'Add New Product' }}</h1>
  <hr>
  <form class="form-product" [formGroup]="productForm" (ngSubmit)="onSubmit()" >

    <div class="form-group form-product__group">
      <label class="control-label" for="product_name">Product Name</label>
      <input id="product_name"
      formControlName="product_name"
      class="form-control input-md"
      type="text">
    </div>

    <div class="form-group form-product__group">
      <label class="control-label" >Product Image</label>
       <br>
       <button type="button" class="btn btn-outline-dark p-3" (click)="filPicker.click()"><h4>Pick Image</h4></button>
      <input class="input-file" type="file" #filPicker (change)="onImagePicked($event); $event.stopPropagation()">

      <div *ngIf="imagePreview!='' && imagePreview && productForm.get('image').value                                                                                                                                                                                                                                                                                                ; else errorpreview" class="image-preview">
        <img [src]="imagePreview" [alt]="productForm.value.image">
      </div>
      <ng-template #errorpreview>
        <p *ngIf="!isFileSelected"  style="color: red">No image is selected</p>
      </ng-template>

    </div>

    <div class="form-group form-product__group">
      <label class="control-label" >Product Category</label>
      <input id="category"
      formControlName="category"
      [disabled]="editMode"
      list="categories"
      class="form-control">
        <datalist id="categories">
          <option *ngFor="let cat of categories" value="{{ cat.categoryName }}"></option>
        </datalist>
    </div>

    <div class="form-group form-product__group">
      <label class="col-md-4 control-label">Product Price</label>
      <input id="price"
      formControlName="price"
      class="form-control input-md"
      type="number">
    </div>

    <div class="form-group form-product__group">
      <label class="col-md-4 control-label">Product Description</label>
      <textarea id="description"
      formControlName="description"
      class="form-control"
      ></textarea>
    </div>

    <div class="form-group form-product__group">
      <label class="col-md-4 control-label">Discount Percentage</label>
      <input id="discount"
      formControlName="discount_percentage"
      class="form-control input-md"
      type="number">
    </div>

    <div class="form-group form-product__group">
      <label class="col-md-4 control-label" >In stock</label>
      <label class="switch">
        <input id="stock"
        class="form-control switch__input"
        type="checkbox"
        formControlName="in_stock"
        checked
        >
      <span class="switch__slider switch__round"></span>
      </label>
    </div>

    <div class="form-group form-product__group">
      <label class="col-md-4 control-label" >Add to recent product</label>
      <label class="switch">
        <input id="recent"
        class="form-control switch__input"
        type="checkbox"
        formControlName="is_recent"
        checked
        >
      <span class="switch__slider switch__round"></span>
      </label>
    </div>

    <div class="form-group form-product__group" formArrayName = "ingredients">

      <label class="col-md-4 control-label" >Ingredients</label>

      <div *ngFor="let control of ingredientControls; let i = index"
      class="row"
      style="margin-top:10px;">

      <input type="text"
      class="form-control arrays"
      [formControl]="control">


      <!-- <div *ngFor="let ingredientCtrl of ingredientControls; let i = index"
      class="row"
      [formGroupName]="i"
      style="margin-top:10px;">

      <input type="text"
      class="form-control arrays"
      formControlName="name"> -->

      <button class="btn btn-danger" (click)="onDeleteIngredient(i)"> X </button>

      </div>
      <br>
      <button type="button" class="btn btn-success mr-5" (click)="onAddIngredient()"><h4>Add Ingredient</h4></button>
   </div>

    <div class="form-group form-product__group" formArrayName = "tags">

      <label class="col-md-4 control-label" >Tags</label>

      <div
      *ngFor="let control of tagsControls; let i = index"
      class="row"
      style="margin-top:10px;">

      <input type="text"
      class="form-control arrays"
      [formControl]="control">

      <button class="btn btn-danger" (click)="onDeleteTag(i)"> X </button>

    </div>
      <br>
      <button type="button" class="btn btn-success mr-5" (click)="onAddTag()"><h4>Add Tag</h4></button>
   </div>

    <div class="form-group form-product__group">
      <div class="col-md-4">
        <button [disabled]="productForm.invalid" id="singlebutton" name="singlebutton" class="btn btn-primary p-4">
          <h3>{{ editMode?'Update Product':'Add New Product' }}</h3></button>
      </div>
      </div>
    </form>
</div>
