@import "src/styles/imports";

.card {
  min-width: 25rem;
  margin-bottom: 2rem;
  position: relative;
  border-radius:.5rem;
  background-color: rgba(255, 255, 255, 0.596);
  transition: all .2s;
  &:hover {
    background-color: white;
    transform: scale(1.05);

  }

}

.image {
  display: block;
  width: 20rem;
  height: 32rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 2rem 0;
    height: 100%;
    width: 100%;
  }
}

.card-footer {
  text-align: center;
  text-transform: capitalize;

  border-top: none;
  margin-bottom: 1rem;

  .product-name {
    color: #414344;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
  }

  .product-price {
    font-size: 1.6rem;
    font-weight: 300;
  }
}
