@import "src/styles/imports";

.card {
  min-width: 25rem;
  width: 25vw;
  position: relative;
  border: transparent 0rem;
  transition: all .2s;
  background-image: linear-gradient(to bottom,white 40%,$tertiary-website-color 30% );

  &:hover {
    transform: scale(1.02);
  }

}

// .card__bg{
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   background-color: $tertiary-website-color;
//   margin-top: 50%;
// }

.image {
  display: block;
  width: 80%;
  height: 40rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 2rem 0;
    height: 100%;
    width: 100%;
  }
}

.card-footer {
  z-index: 100;
  text-align: center;
  text-transform: capitalize;
  border-top: none;
  margin-bottom: 1rem;
  background: transparent;
  .product-name {
    color: #414344;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
  }

  .product-price {
    font-size: 1.6rem;
    font-weight: 300;
  }
}

.add_to_cart {
  color: blue;
  margin: .5rem 0;
}


@media screen and (max-width: 767px) {
  .image{
    width: 95%;
  }
}
