@import "src/styles/imports";

.card {
  width: 25rem;
  margin-bottom: 2rem;
  position: relative;
}

.image {
  position: relative;
  transition: all .4s;
  &:hover{
    transform: scale(1.07) translateY(-.5rem);
  }
  cursor: pointer;
  img {
    padding: 2rem;
  }

}

.card-footer {
  
  text-transform: capitalize;
  background-color: $color-white;
  margin-top: 1rem;
  margin-bottom: 1rem;

  .product-name {
    color: #00c5e6;
    margin-top: 1rem;
    font-size: 1.6rem;
  }

  .product-price {
    margin-top: 1rem;
    font-size: 2rem;
  }
}
