@import "src/styles/imports";


.slideshow-add {
  @include flex(column);
  padding: 3rem;

  .image-holder {
    padding: 4rem;
    width: 100%;
    height: 30rem;
    background-color: #f1f1f1;
    @include flex(row);
    @include flex-alignment(center, center);
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;

    &:hover {
      box-shadow: 2px 2px 5px 5px #f1f1f1;
    }
  }

  .product-selection {
    margin-top: 2rem;
    @include flex(row);
    @include flex-alignment(flex-start, center);

    h2 {
      margin-right: 5rem;
    }
  }

  .selected-item {
    margin-top: 1rem;
    margin-left: 1rem;

    &__box {
      padding: 1rem;
    }
  }
}
