<app-main-container title="CONTACT US">
  <div class="contact-us-container">
    <h1 style="color: #075ac9; text-align: center;">WE ARE HERE TO HELP YOU</h1>
    <div class="content">
      <div class="content__item">
        <span class="icon">
          <i class="fa fa-map-marker"></i>
        </span>
        <span class="title">
          Address
        </span>
        <span class="data">
          <span class="data__heading">
            Bioc
          </span>
          <span class="data__body">
            <p>  Plot no- 18/19 R block, Dilshad Garden, Insdustrial area-95 </p>
          </span>
        </span>
      </div>
      <div class="content__item">
        <span class="icon">
          <i class="fa fa-phone"></i>
        </span>
        <span class="title">
          Call
        </span>
        <span class="data">
          <span class="data__heading">
            Telephone
          </span>
          <span class="data__body">
            9313017818
          </span>
        </span>
      </div>
      <div class="content__item">
        <span class="icon">
          <i class="fa fa-envelope"></i>
        </span>
        <span class="title">
          Support
        </span>
        <span class="data">
          <span class="data__heading">
            E-mail
          </span>
          <span class="data__body">
            info@bioc.com
          </span>
        </span>
      </div>
    </div>

  </div>
</app-main-container>
