@import "src/styles/imports";

.trade-enquiry-container {
  margin-top: 5rem;
  padding: 0 8rem 4rem;
  display: flex;
  @include flex-alignment(space-between, flex-start);
  flex-wrap: wrap;
   &__section {
      min-width: 35%;
      flex: 1;
      margin: 0 4rem;
    }
}

.form-group {
  margin-bottom: 3rem;
}

.submit-btn {
  @include flex(row);
  @include flex-alignment(center, center);
  margin-bottom: 2rem;
}
