<div class="navbar-container">
    <app-secondary-header style="animation: moveInTop .3s ease-out  0s;" *ngIf="scrollOffset<100"></app-secondary-header>
    <app-primary-header [categoryList]="categoryList" *ngIf="screenWidth>767 else drawer"></app-primary-header>
    <ng-template #drawer> <app-drawer [categoryList]="categoryList"></app-drawer> </ng-template>
</div>

<div>
    <div [ngClass]="{'loader': isLoading}" *ngIf="isLoading">
        <img src="assets/images/loader.gif" alt="">
    </div>
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
<app-floater></app-floater>
