@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Comfortaa&display=swap');

.about-us {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 10%;

    .text {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      font-size: 1.5rem;
      min-width: 60%;

      &__heading {
        font-size: 24px;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Comfortaa', cursive;
        &--underline {
          border: 1px solid black;
          width: 80%;
        }
      }

      &__content {
        font-family: 'Comfortaa', cursive;
        text-align: justify;
      }
    }

    .picture {
      display: flex;
      flex-direction: row;
      flex: 1;
      padding: 1rem;
      justify-content: center;
    }

  }

  .gray {
    background-color: #f1f1f1;
  }
}
