<div class="slideshow">
  <div *ngFor="let slideshow of list" class="item">
    <img src="{{slideshow.image}}" height="250">
    <div class="overlay"></div>
    <span class="icon" data-toggle="modal" data-target="#confirmationModal" (click)="onModalClick(slideshow.id)">
          <i class="fa fa-trash"></i>
        </span>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm deletion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to delete ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="add-button">
  <button class="btn primary-button" routerLink="add">Add new slide</button>
</div>
