<app-main-container title="TRACK ORDER">
  <div class="track-order-container">
    <div class="alert alert-dark" *ngIf="!orders">
      You can track your orders with your &nbsp; <b>mobile number</b>. Please &nbsp; <b>verify</b> &nbsp; your mobile
      number to check your orders.
    </div>
    <div class="phone-input" *ngIf="!orders">
      <div class="form-group">
        <label for="phone">Phone number</label>
        <input type="text" id="phone" class="form-control form-control-lg" [formControl]="phone"
               placeholder="Enter phone number">
      </div>
      <div *ngIf="isOtpSent && !isPhoneVerified" class="alert alert-success mt-3">OTP has been sent to this mobile
        number, please verify!
      </div>
      <div *ngIf="isOtpSent && !isPhoneVerified" class="form-group">
        <label for="otp">OTP</label>
        <input type="text" id="otp" class="form-control form-control-lg" [formControl]="otp" placeholder="Enter OTP">
      </div>
    </div>
    <button *ngIf="!isOtpSent" class="btn primary-button" (click)="getOtp()">Get OTP</button>
    <button *ngIf="!isPhoneVerified && isOtpSent" class="btn primary-button" (click)="verifyOtp()">Verify</button>

    <h1 style="align-self: flex-start; padding-left: 10%" *ngIf="orders">Your orders</h1>

    <div *ngIf="isPhoneVerified" class="phone_heading">
      <h3><strong> {{ phone.value }} </strong></h3>
      <button class="btn btn-dark change_number"> Change Number </button>
    </div>

    <div class="card" *ngFor="let order of orders">
      <div class="card-header">
        <span class="date-heading">{{order.createdAt | date:'fullDate'}} &nbsp; | Amount : &#8377; {{order.total}}  &nbsp; | Status:  &nbsp; <span [ngStyle]="{'color': getColor(order.order_status), 'font-weight': '800' }">{{ getOrderStatus(order.order_status)  }}</span> </span>
        <span class="flex-fill"></span>
        <a class="detail-button" [routerLink]="['order-detail', order._id]">View detail</a>
      </div>
      <div class="card-body">
        <div class="product-list">
          <h3>Items</h3>
          <div class="order-items">
            <div class="item" *ngFor="let product of order.products">
              <img class="item-image" src="{{product.image}}" alt="{{order.product_name}}"/>
              <span>{{product.product_name}}</span>
            </div>
          </div>
        </div>
        <div class="delivery-address">
          <h2> <strong> SHIP TO:</strong> </h2>
          <h3 class="">{{ order.user_name }}</h3>
          <h1>&nbsp;</h1>
          <h2> <strong> DELIVERY ADDRESS: </strong> </h2>
          <div>{{order.address}}</div>
          <div>{{order.city}}</div>
          <div>{{order.state}}</div>
          <div>{{order.zip_code}}</div>
        </div>
      </div>
    </div>
  </div>
</app-main-container>
