<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
		<title>Web Chat Widget v4</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="form-box " id="myDIV">
			<h2 class="login-header"><i class="far fa-comment-dots icon"></i>We'll text you.</h2>
			<div class="test">
				<form class="formInput">
					<div>
						<input type="text" required id="test">
						<label class="inputLabel">Name</label>
					</div>

					<div>
						<input type="text" id="numberText" required>
						<label class="inputLabel">Mobile No.</label>
					</div>
					<div>
						<input type="text"  required>
						<label class="inputLabel">Message</label>
					</div>
					<div>
						<input type="file" id="inputFile" required><label id="labelFile" for="inputFile">
					<i class="far fa-file-image" id="iconPhoto"></i>Choose a Photo</label>
				</div>

			<p id="legal">By submitting you agree to receive text messages
			at the number provided. Message/data rates apply</p>
			<input type="submit" value="Send" id="submitButt" class="active">
		</form>
		</div>
		<div class="footer"></div>
		</div>
    <button class="floating-btn" onclick="myFunction()">
      <i class="fas fa-plus"></i>
    </button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script>
		$('#submitButt').click(function() {
			$(this).toggleClass('active');
		});
		$(function() {
			$("#test").focus();
		});
		document.querySelector('.floating-btn').addEventListener('click', function(e) {
  			e.target.closest('button').classList.toggle('clicked');
		});

		function myFunction() {
		  var x = document.getElementById("myDIV");
      console.log(x);
      console.log(x.classList.contains('open'));
		  if (x.classList.contains('open')) {
		    x.classList.remove("open");
		  } else {
		    x.classList.add("open");
		    document.getElementById("test").focus();

		  }
		}
		</script>
	</body>
</html>
