<div class="enter" [ngClass]="{'expand' : isExpanded}">


  <div class="form-box" id="myDIV" [ngClass]="{'open': isExpanded}" >
    <h2 class="login-header"><i class="far fa-comment-dots icon"></i>We'll text you.</h2>
    <div class="test">
      <form class="formInput">
        <div>
          <input type="text" required id="test" placeholder="Name">
        </div>

        <div>
          <input type="number" id="numberText" required placeholder="Mobile No.">
        </div>
        <div>
          <input type="text"  required placeholder="Messagfe">
        </div>


    <input type="submit" value="Send" id="submitButt" class="active">
  </form>
  </div>
  <div class="footer"></div>
  </div>

  <button class="floating-btn" (click)="isExpanded=!isExpanded;">
    <i class="fas fa-comments" style="font-size: 2rem;"></i>
  </button>


  </div>
