<div class="enter" [ngClass]="{'expand' : isExpanded}">


  <div class="form-box" id="myDIV" [ngClass]="{'open': isExpanded}" >
    <h2 class="login-header"><i class="far fa-comment-dots icon"></i>We'll text you.</h2>
    <div class="test">
      <form class="formInput">
        <div>
          <input type="text" required id="test">
          <label class="inputLabel">Name</label>
        </div>

        <div>
          <input type="text" id="numberText" required>
          <label class="inputLabel">Mobile No.</label>
        </div>
        <div>
          <input type="text"  required>
          <label class="inputLabel">Message</label>
        </div>


    <input type="submit" value="Send" id="submitButt" class="active">
  </form>
  </div>
  <div class="footer"></div>
  </div>

  <i class="fas floating-btn fa-comments" (click)="isExpanded=!isExpanded;"></i>

  </div>
