@import "./imports";

html {
  font-size: 10px;
}

body {
  font-size: 14px;
  background-color: $color-white;
  -webkit-font-smoothing: antialiased;
  color: $primary-text;
  font-family: "Open Sans", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
