.loader {
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  position: fixed;
  height: 100vh;
  display: flex;
  z-index: 99;

  img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
  }
}

.main-container {
  padding-top: 13.1rem;
}

.primary-heading {
  padding: 2rem 0;
  background-color: #f1f1f1;
  &-text {
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
  }
}

.primary-button {
  background-image: linear-gradient(-45deg, #075ac9, #35c7df);
  box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.2), 0 4px 6px 1px rgba(0, 0, 0, 0.05), 0 1px 2px 1px transparent inset,
    0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
  padding: 1.2rem 2.5rem;
  border-radius: 5rem;
  color: $color-white;
  margin-top: 1rem;
  border: 0;
  font-size: 1.4rem;

  .fa {
    font-size: 1.6rem;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
