.loader {
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  position: fixed;
  height: 100vh;
  display: flex;
  z-index: 99;

  img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
  }
}

.main-container {
  padding-top: 9.7rem;
}

.primary-heading {
  padding: 2rem 0;
  background-color: #f1f1f1;
  &-text {
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
  }
}
