.loader {
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  position: fixed;
  height: 100vh;
  display: flex;
  z-index: 99;

  img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
  }
}

.primary-button {
  border: .1rem solid black;
  color: black;
  padding: 1.2rem 2.5rem;
  border-radius: .5rem;

  margin-top: 1rem;

  font-size: 1.4rem;
  outline: none;
  transition: all .2s;

  &:hover{
    border: none;
    color: white;
    background-image: linear-gradient(-45deg, #075ac9, #35c7df);
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.2), 0 4px 6px 1px rgba(0, 0, 0, 0.05), 0 1px 2px 1px transparent inset,
    0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    transform: translateY(-4px);
  }

  .fa {
    font-size: 1.6rem;
    text-rendering: auto;
  }

  &:active,&:focus {
    outline: none;
    transform: translateY(2px);
    box-shadow: 0 .5rem 1rem rgba(black, .2); /*(direction shadow blur color)*/
  }

}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -300%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.alert-msg {
  position: fixed;
  right: calc(50% - 150px);
  top: 13rem;
  z-index: 100;
  padding: 2rem;
}

.main-container {
  padding-top: 13.1rem;
}
