$primary-website-color: #075ac9;
$secondary-website-color: #084ca5;
$primary-text: #444444;

$secondary-bg: #fcfcfc;
$secondary-border: #e9ecef;

/* Info Based */
$color-notify: #ffc107;
$color-info: #35c7df;

/* Property Based */
$color-white: white;

/** Gray Shades **/
$grey-shade-1: #f1f1f1;
$grey-shade-2: #e4e4e4;
$grey-shade-3: #fefefe;
$fa-font-path: "~font-awesome/fonts/";
