$primary-text: #343a40;

$secondary-bg: #fcfcfc;
$secondary-border: #e9ecef;

/* Info Based */
$color-notify: #ffc107;
$color-info: #03a9f4;

/* Property Based */
$color-white: white;

/** Gray Shades **/
$grey-shade-1: #f1f1f1;
$grey-shade-2: #e9e9e9;
$grey-shade-3: #fefefe;
