
  .review {

    &-unfilled{

      font-family: 'FontAwesome';
      float: left;
      font-weight: 300;
      display: block;
      font-size: 20px;
      color: pink;
    }

    &-filled {
      font-family: 'FontAwesome';
      font-weight: 300;
      font-size: 20px;
      display: block;
      float: left;
      color: palevioletred;
    }

    border-bottom: 1px black;

  }
